/* make scrolling smooth */

html {
scroll-behavior: smooth;
}

.nav{
    border-bottom: 1px solid #f3d4b8;
    position: absolute;
    margin: 0rem 1rem;
    right: 0;
    background-color: #823b00;
    border-radius: 5px;
}
/*Hamburguer icon*/
.nav img{
    width: 1.5rem;
    fill: #f3d4b8;
}
/*Positioning*/
.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

}
/*geetting rid of x icon*/
.close{
    display: none;
}
/*spacing for hamburger icon*/
.menu {
    margin-top: 0.2rem;
}
/*getting rid of the checkbox mark*/
.nav__checkbox{
    display: none;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    
}
 .nav__menu li{
    list-style: none;
    display: none;
    
}
.nav__menu :first-child{
    margin-right:auto;
    display: block;
}
.nav__menu a{
    text-decoration: none;
    color: #823b00;
    font-size: 1.2rem;
}
.nav img{
    width: 1.5rem;
    fill: #f3d4b8 ;
}
#nav__checkbox:checked ~ ul.navbar-links li {
 display: block;

 
}
#nav__checkbox:checked ~label.nav__toggle .close{
    display: block;
}
#nav__checkbox:checked ~label.nav__toggle .menu{
    display: none;
}

.navbar-links {
    display:none;
}
#nav__checkbox:checked ~ .navbar-links {
    display:block;
}
/*.nav__toggle{
    display: none;
}*/
/*media state for it to appear only on small sizes*/
@media only screen and (min-width:560){
    .nav, .nav__toggle, .nav__menu{
        flex-direction: row;
        background-color: #823b00;
  
    }
    li{
        display: block;
    }
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* add some padding back to rest of page */

main {
padding: 2vw;
}

/* navbar */

.navbar {
 background-color: #823b00;
 color: #f3d4b8;
 display: flex;
 flex-direction: column;
 font-size: 1.5rem;
 margin-bottom: 1rem;
 padding: 1rem;
}


/* logo */

.logo {
display: flex;
align-items: center;
}
.logo img {
height: 5vw;
width: 5vw;
}
.logo h1 {
    font-size: 1.2em;
}


/* navigation list */

.navbar-links li {

  list-style: none;  
  display:block;
  padding: 0.5em 0;
}

.navbar-links a{
    color: #f3d4b8;
    background-color:#823b00;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}
.navbar-links a:hover , 
.navbar-links a:focus{
 background-color: #f3d4b8;
color: #000000;
border-radius: 10px;
outline: none;


}


/*  
 style all a tags in header 
 and then on hover
*/





/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem){
.navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navbar{
    flex-direction: row;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}

.nav__toggle{
    display: none;

}


}
/*coment*/